.DS_Store
*.log

# tmux
tmux/.config/tmux/plugins

# bat
bat/.config/bat/themes/tokyonight.nvim

# fish
fish/.config/fish/private.fish
fish/.config/fish/fish_variables
fish/.config/fish/conf.d
fish/.config/fish/completions
