[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig

[core]
	pager = delta --features "$(defaults read -g AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"
[interactive]
  diffFilter = delta --color-only --features "$(defaults read -g AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"
[delta "light-mode"]
  light = true
  syntax-theme = catppuccin-latte

[delta "dark-mode"]
  light = false
  syntax-theme = catppuccin-mocha

[user]
	name = Sami Al-Dury
	email = git@aldury.com
	signingkey = ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true

[includeIf "gitdir:~/splunk/"]
	path = ~/splunk/.gitconfig
